@import url("https://esm.sh/docsify-themeable/dist/css/theme-defaults.css");

@font-face {
	font-family: "Circular STD";
	font-size: medium;
	src: url(./fonts/CircularStd-Medium.woff2) format("woff2")
}

@font-face {
	font-family: "Circular STD";
	font-size: medium;
  font-style: italic;
	src: url(./fonts/CircularStd-MediumItalic.woff2) format("woff2")
}


body {
  text-rendering: optimizeLegibility !important;
}

:root {
  --base-color: #DEDEDE;
  --theme-color: #7400e8;

  --content-max-width: none;

  --base-font-family: "Circular STD";
  --base-font-weight: 500;
  --base-background-color: #141414;

  --heading-font-weight: 600;
  --heading-color: #FFFFFF;

  --blockquote-font-family: monospace;
  --blockquote-background: #161616;
  --blockquote-border-radius: 3px;

  --code-block-font-family: monospace;
  --code-theme-background: #161616;
  --code-block-border-radius: 3px;
  --code-block-padding: 16px;

  --sidebar-background: #151515;
  --sidebar-width: 335px;
  --sidebar-name-font-weight: var(--base-font-weight);
  --sidebar-nav-link-background-color--active: var(--theme-color);
  --sidebar-nav-link-border-radius: 3px;
  --sidebar-nav-link-text-decoration--active: none;
  --sidebar-nav-link-text-decoration--hover: none;
  --sidebar-nav-link-color: #7400e8;
  --sidebar-nav-link-color--hover: white;
  --sidebar-nav-link-color--active: white;
  --sidebar-nav-link-padding: 5px 10px;

  --search-input-background-color: #161616;
  --search-input-border-radius: 3px;
  --search-input-border-color: #040405;
  --search-input-color: #f6f6f7;
  --search-result-item-border-color: #7400e8;
  --search-result-keyword-background: var(--theme-color);

  --code-theme-keyword: #859900;
  --code-theme-tag: #2aa198;
  --code-theme-selector: #2aa198;
  --code-theme-comment: #7400e8;
  --code-inline-border-radius: 3px;
  --code-inline-padding: 3px 5px 4px;

  --link-border-bottom: none;
  --link-border-bottom--hover: none;
  --link-text-decoration: none;
  --link-text-decoration--hover: underline;
  --link-color: #00aff4;

  --selection-color: var(--theme-color);

  --copycode-background: #202225;
}

.markdown-section {
  padding: 70px !important;
}
.markdown-section blockquote {
  padding: 16px;
  margin: 0 0;
}

/*.search input:focus, .search input:hover {
  border: 1px solid var(--theme-color) !important;
  border-radius: var(--search-input-border-radius) !important;
}*/

@media (min-width: 48em) {
  .sidebar-toggle, .sidebar-toggle-button {
    display: none;
  }
}

.search input {
  box-shadow: none !important;
}

.clear-button svg {
  margin-top: 7px;
}

.markdown-section code {
  white-space: revert !important;
}

* {
  word-break: break-word;
}
